<div class="mdl-cell mdl-cell--12-col  mdl-color--white mdl-shadow--2dp  ">

		<div class="mdl-grid   ">
					
					
					<div class="mdl-cell mdl-cell--4-col">

						<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						    <input  pattern="[A-Z,a-z, ]*" class="mdl-textfield__input" type="text" id="name">
						    <label class="mdl-textfield__label" for="name">Name</label>
						    <span class="mdl-textfield__error">Letters and spaces only</span>
						 </div>


					</div>

					<div class="mdl-cell mdl-cell--4-col">

						<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						    <input pattern="[A-Z,a-z, ]*" class="mdl-textfield__input" type="text" id="last_name">
						    <label class="mdl-textfield__label" for="last_name">Last Name</label>
						    <span class="mdl-textfield__error">Letters and spaces only</span>
						 </div>


					</div>

					<div class="mdl-cell mdl-cell--4-col">

						<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						    <input pattern="[0-9]*" class="mdl-textfield__input" type="text" id="tel">
						    <label class="mdl-textfield__label" for="tel"> Phone</label>
						    <span class="mdl-textfield__error">Digits only</span>
						 </div>


					</div>
					
		</div>


		
		<div class="mdl-grid   ">
			
			<div class="mdl-cell mdl-cell--12-col">
				<button id="btn_do_add" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent ">
  Add
</button>
			</div>
			

			
		</div>

</div>