


<span class="mdl-list__item-primary-content">
     	

		{{#users.length}}
		<i class="material-icons mdl-badge mdl-badge--overlap" data-badge="{{points}}">assignment_ind</i>
		
		{{/users.length}}

		{{^users.length}}
       		<i class="material-icons mdl-badge mdl-badge--overlap" data-badge="{{points}}">assignment</i>
       {{/users.length}}

       <span>{{{summary}}}  </span>
       
      <span class="mdl-list__item-sub-title">

      	<span class="mdl-chip">
    <span class="mdl-chip__text">Basic Chip</span>
</span>

       </span>


</span>

<span class="mdl-list__item-secondary-content">


  {{cell.label}}


</span>


 