
<header class="demo-header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title">Push</span>
          <div class="mdl-layout-spacer"></div>
          
        </div>
</header>



      



      <main class="mdl-layout__content mdl-color--grey-100">
        
            <div class="mdl-grid demo-content">
              <div class="mdl-layout-spacer"></div>
                 <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col ">
                    <!-- Textfield with Floating Label -->

                    <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Login</h2>
  </div>
                   <form id="loginForm" class="mdl-card__supporting-text" action="#">
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input"  type="email" id="email"  > 
    <label class="mdl-textfield__label" for="email">Email</label>
    <span class="mdl-textfield__error">Email invalid</span>
  </div>

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input"  type="password"  id="password">
    <label class="mdl-textfield__label" for="password">Password</label>
    <span class="mdl-textfield__error">required</span>
  </div>

  



</form>

<div class="mdl-card__actions mdl-card--border">
    <a id="btn_login" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" >
      Login
    <span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></a>
  </div>

  <div class="mdl-card__menu">
    <a href="#register"  class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
      Register
    </a>
  </div>

                   



                 </div>
                  <div class="mdl-layout-spacer"></div>


                
            </div>

           
        
      </main>

      <div id="demo-snackbar-example" class="mdl-js-snackbar mdl-snackbar">
  <div class="mdl-snackbar__text"></div>
  <button class="mdl-snackbar__action" type="button"></button>
</div>

    