



<span class="mdl-list__item-primary-content">
      <i class="material-icons ">event_note</i>
      <span>{{project.name}}  </span>
      <span class="mdl-list__item-sub-title">{{suma_trabajando_puntos}} / {{suma_terminados_puntos}} / {{suma_puntos}} Puntos</span>


</span>


<span class="mdl-list__item-secondary-content">
      <span class="mdl-list__item-secondary-info"></span>
      <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">chevron_right</i></a>
</span>
