
.cell{

	color: white;
	padding: 1px;
}

.Doing {

	background-color: #3898db;

}


.Done {

	background-color: #34cc73;

}

.Reviewing{
	background-color: #f5764e;
}

.Todo{

	background-color: rgb(116, 126, 137);
}


#search {
      position: fixed;
      display: block;
      right: 0;
      bottom: 0;
      margin-right: 40px;
      margin-bottom: 40px;
      z-index: 900;
    }